        @media screen and (max-width:688px) {

            .navigation{
                flex-direction: column;
                padding: 20px 0;
                margin: 0;
                width: 100%;
            }

            .conteinar {
                width: 100%;
            }

            .player_details_conteinar {
                grid-template-columns: repeat(1, 1fr);
            }

            .blog_section_conteinar{
                grid-template-columns: repeat(1,1fr);
            }
            
            .course_conteinar{
                flex-direction: column;
                gap: 30px;
            }
        }